pika
aio-pika
duckdb==1.0.0
duckcli==0.2.1
apache-airflow-providers-amazon
airflow-provider-rabbitmq
ydata-profiling==4.8.3
pyarrow
s3fs
pandas
polars
apache-airflow-providers-trino
apache-airflow-providers-hashicorp
beartype
minio
jinja2